<div id="header">
  <div class="wrapper">
    <div class="logo">
      <a href="#">
        <img src="assets/imgs/logo_home.png" alt="logo" />
      </a>
    </div>
    <div class="call_us">
      <h5>Talk to Expert :
        <span>+46 123 123 123</span>
      </h5>
      <div class="notification_bar">
        <img src="assets/imgs/notification.png" alt="notification" />
        <img src="assets/imgs/icon-3.png" alt="download-icon" />
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="all_detail">
  <div class="wrapper">
    <div class="box-1">
      <img src="assets/imgs/icon-5.png" alt="Profile" />
      <h4>
        <a routerLink="/home/profile">My Profile</a>
      </h4>
    </div>
    <div class="box-1">
      <img src="assets/imgs/icon-4.png" alt="My Plan" />
      <h4>
        <a routerLink="/home/plan">My Plan</a>
      </h4>
    </div>
    <div class="box-1">
      <img src="assets/imgs/icon-6.png" alt="Traffic" />
      <h4>
        <a routerLink="/home/utc">Usage Traffic & Costs</a>
      </h4>
    </div>
    <div class="box-1">
      <img src="assets/imgs/icon-7.png" alt="Deals" />
      <h4>
        <a routerLink="/home/dfy">Deals for You</a>
      </h4>
    </div>
    <div class="box-1">
      <img src="assets/imgs/icon-8.png" alt="Roaming" />
      <h4>
        <a routerLink="/home/roaming">Roaming</a>
      </h4>
    </div>
    <div class="box-1">
      <img src="assets/imgs/icon-9.png" alt="Wallet" />
      <h4>
        <a routerLink="/home/wallet">Wallet & Payment</a>
      </h4>
    </div>
    <div class="box-1 show-box">
      <img src="assets/imgs/icon-10.png" alt="Support" />
      <h4>
        <a routerLink="/home/support">Support</a>
      </h4>
      <div class="down-arrow show-arrow">
        <img _ngcontent-c1="" alt="" src="assets/imgs/down-arrow-1.png">
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a href="#">Home</a> > </li>
            <li class="active">
              <a href="#"> Support > </a>
            </li>
            <li class="active">
              <a href="#"> FAQs</a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>Nilanjana Basu</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online" />+46 123 123 123
            <img src="assets/imgs/down-arrow.png" alt="arrow" />
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="tab-menu">
      <ul>
        <li class="active">
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Find a Store</a>
        </li>
        <li>
          <a href="#">Report an Issue</a>
        </li>
        <li>
          <a href="#">Network Coverage</a>
        </li>
        <li>
          <a href="#">Chat</a>
        </li>
      </ul>
    </div>
    <div class="inner-wrapper">
      <div class="accordion-panel-sec">
        <div class="accor-head">
          <h4>Q. WHAT IS CIS DIGITAL SELF CARE APP?</h4>
        </div>
        <div class="accor-content">
          <p>The CIS Digital self-care app is a an application that allows customers process a wide-range of voice and data
            requests directly from their mobile phones.
          </p>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. WHAT IS CIS DIGITAL SELF CARE APP?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. WHY DO I NEED A CUSTOMER ID?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. WHY SHOULD I USE CIS DIGITALMOBILE SELF CARE APP?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. WILL I SUBSCRIBE OR ACTIVATE THIS SERVICE?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. WHAT TYPE OF HANDSET CAN I USE TO ACESS THE APP?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. WHAT HAPPENS WHEN THE APP DOES NOT GET DOWNLOADED ON MY DEVICE?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. HOW DO I RESOLVE THE ERROR MESSAGE: ERROR IN FETCHING DATA FROM SELF CARE NODE TRY AGAIN?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. HOW DO I RESOLVE THE ERROR MESSAGE UNABLE TO CONNECT ON ANDRIOD HANDSET?</h4>
        </div>
      </div>
      <div class="accordion-panel-close">
        <div class="accor-close">
          <h4>Q. CAN THE MOBILE APP WORK ON WI-FI?</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer_section">
  <div class="footer-wrapper">
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">My Plans</a>
        </li>
        <li>
          <a href="#">Add SIM</a>
        </li>
        <li>
          <a href="#">Credit Transfer</a>
        </li>
        <li>
          <a href="#">Share Account</a>
        </li>
        <li>
          <a href="#">Friends and Family</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">Recharge for Other</a>
        </li>
        <li>
          <a href="#">Billing History</a>
        </li>
        <li>
          <a href="#">Deals for you</a>
        </li>
        <li>
          <a href="#">Roaming</a>
        </li>
        <li>
          <a href="#">Find a Store</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu last-menu">
      <ul>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Call Center</a>
        </li>
        <li>
          <a href="#">Service Request Status</a>
        </li>
        <li>
          <a href="#">Chatbot / Chat</a>
        </li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="social-bar-content">
      <div class="social-bar">
        <a href="#">
          <img src="assets/imgs/fb-icon.png" alt="facbook" /> </a>
        <a href="#">
          <img src="assets/imgs/gmail-icon.png" alt="gmail" /> </a>
        <a href="#">
          <img src="assets/imgs/in-icon.png" alt="facbook" /> </a>
      </div>
      <div class="chat-option">
        <img src="assets/imgs/msg-icon.png" alt="chat-img" />
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-wrapper">
    <h5>©Ericsson AB 2018</h5>
    <ul>
      <li>
        <a href="#">Licence Agreement</a>
      </li>
      <li>
        <a href="#">Modern Slavery Statement</a>
      </li>
      <li>
        <a href="#">Cookies</a>
      </li>
      <li>
        <a href="#">Legal</a>
      </li>
    </ul>
    <div class="clr"></div>
  </div>
</div>