<div id="header">
  <div class="wrapper">
    <div class="logo">
      <a href="#">
        <img src="assets/imgs/logo_home.png" alt="logo" />
      </a>
    </div>
    <div class="call_us">
      <h5>Talk to Expert :
        <span>+46 123 123 123</span>
      </h5>
      <div class="notification_bar">
        <img src="assets/imgs/notification.png" alt="notification" />
        <img src="assets/imgs/icon-3.png" alt="download-icon" />
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="all_detail">
  <div class="wrapper">
    <div class="box-1">
      <a routerLink="/home/prifile">
        <img src="assets/imgs/icon-5.png" alt="Profile" />
      </a>
      <h4>
        <a routerLink="/home/profile">My Profile</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1 ">
      <a routerLink="/home/plan">
        <img src="assets/imgs/icon-4.png" alt="My Plan" />
      </a>
      <h4>
        <a routerLink="/home/plan">My Plan</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/utc">
        <img src="assets/imgs/icon-6.png" alt="Traffic" />
      </a>
      <h4>
        <a routerLink="/home/utc">Usage Traffic & Costs</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1 show-box">
      <a routerLink="/home/dfy">
        <img src="assets/imgs/icon-7.png" alt="Deals" />
      </a>
      <h4>
        <a routerLink="/home/dfy">Deals for You</a>
      </h4>
      <div class="down-arrow show-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/roaming">
        <img src="assets/imgs/icon-8.png" alt="Roaming" />
      </a>
      <h4>
        <a routerLink="/home/roaming">Roaming</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/wallet">
        <img src="assets/imgs/icon-9.png" alt="Wallet" />
      </a>
      <h4>
        <a routerLink="/home/wallet">Wallet & Payment</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/support">
        <img src="assets/imgs/icon-10.png" alt="Support" />
      </a>
      <h4>
        <a routerLink="/home/support">Support</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a href="#">Home</a> > </li>
            <li class="active">
              <a href="#"> Deals for You </a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>Nilanjana Basu</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online" />+46 123 123 123
            <img src="assets/imgs/down-arrow.png" alt="arrow" />
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="inner-wrapper">
      <h2>Deals</h2>
      <div class="deals-section">
        <img src="assets/imgs/super-deals.jpg" alt="super-deals" /> </div>
    </div>
  </div>
</div>
<div class="footer_section">
  <div class="footer-wrapper">
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">My Plans</a>
        </li>
        <li>
          <a href="#">Add SIM</a>
        </li>
        <li>
          <a href="#">Credit Transfer</a>
        </li>
        <li>
          <a href="#">Share Account</a>
        </li>
        <li>
          <a href="#">Friends and Family</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">Recharge for Other</a>
        </li>
        <li>
          <a href="#">Billing History</a>
        </li>
        <li>
          <a href="#">Deals for you</a>
        </li>
        <li>
          <a href="#">Roaming</a>
        </li>
        <li>
          <a href="#">Find a Store</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu last-menu">
      <ul>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Call Center</a>
        </li>
        <li>
          <a href="#">Service Request Status</a>
        </li>
        <li>
          <a href="#">Chatbot / Chat</a>
        </li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="social-bar-content">
      <div class="social-bar">
        <a href="#">
          <img src="assets/imgs/fb-icon.png" alt="facbook" /> </a>
        <a href="#">
          <img src="assets/imgs/gmail-icon.png" alt="gmail" /> </a>
        <a href="#">
          <img src="assets/imgs/in-icon.png" alt="facbook" /> </a>
      </div>
      <div class="chat-option">
        <img src="assets/imgs/msg-icon.png" alt="chat-img" />
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-wrapper">
    <h5>©Ericsson AB 2018</h5>
    <ul>
      <li>
        <a href="#">Licence Agreement</a>
      </li>
      <li>
        <a href="#">Modern Slavery Statement</a>
      </li>
      <li>
        <a href="#">Cookies</a>
      </li>
      <li>
        <a href="#">Legal</a>
      </li>
    </ul>
    <div class="clr"></div>
  </div>
</div>