<div id="header">
  <div class="wrapper">
    <div class="logo">
      <a href="#">
        <img src="assets/imgs/logo_home.png" alt="logo" />
      </a>
    </div>
    <div class="call_us">
      <h5>Talk to Expert :
        <span>+46 123 123 123</span>
      </h5>
      <div class="notification_bar">
        <img src="assets/imgs/notification.png" alt="notification" />
        <img src="assets/imgs/icon-3.png" alt="download-icon" />
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="all_detail">
  <div class="wrapper">
    <div class="box-1">
      <a routerLink="/home/profile">
        <img src="assets/imgs/icon-5.png" alt="Profile" />
      </a>
      <h4>
        <a routerLink="/home/profile">My Profile</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/plan">
        <img src="assets/imgs/icon-4.png" alt="My Plan" />
      </a>
      <h4>
        <a routerLink="/home/plan">My Plan</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1  show-box">
      <a routerLink="/home/utc">
        <img src="assets/imgs/icon-6.png" alt="Traffic" />
      </a>
      <h4>
        <a routerLink="/home/utc">Usage Traffic & Costs</a>
      </h4>
      <div class="down-arrow show-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/dfy">
        <img src="assets/imgs/icon-7.png" alt="Deals" />
      </a>
      <h4>
        <a routerLink="/home/dfy">Deals for You</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/roaming">
        <img src="assets/imgs/icon-8.png" alt="Roaming" />
      </a>
      <h4>
        <a routerLink="/home/roaming">Roaming</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/wallet">
        <img src="assets/imgs/icon-9.png" alt="Wallet" />
      </a>
      <h4>
        <a routerLink="/home/wallet">Wallet & Payment</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="box-1">
      <a routerLink="/home/support">
        <img src="assets/imgs/icon-10.png" alt="Support" />
      </a>
      <h4>
        <a routerLink="/home/support">Support</a>
      </h4>
      <div class="down-arrow">
        <img src="assets/imgs/down-arrow-1.png" alt="" />
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a href="#">Home</a> > </li>
            <li class="active">
              <a href="#"> Usage Traffic & Costs </a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>Nilanjana Basu</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online" />+46 123 123 123
            <img src="assets/imgs/down-arrow.png" alt="arrow" />
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="tab-menu">
      <ul>
        <li class="active">
          <a href="#">Data Usage</a>
        </li>
        <li>
          <a href="#">Mins Usage</a>
        </li>
        <li>
          <a href="#">SMS Usage</a>
        </li>
        <li>
          <a href="#">Credit History</a>
        </li>
      </ul>
    </div>
    <div class="inner-wrapper">
      <div class="data-usage">
        <div class="data-title">
          <h3>Data Usage</h3>
        </div>
        <div class="data-graph">
          <img src="assets/imgs/data-usage.jpg " alt="graph" />
        </div>
        <div class="data-year">
          <select id="year" name="year">
            <option value="year">Year 2014</option>
            <option value="Year">Year 2015</option>
            <option value="Year">Year 2016</option>
          </select>
        </div>
        <div class="clr"></div>
      </div>
      <div class="set-limit">
        <div class="limit">
          <div class="limit-box">
            <h3>Set Limit</h3>
            <div class="limit-inner">
              <div class="limit-box-left">
                <input class="check" type="checkbox" name="limit" value="limit">
                <label>Set Data Limit</label>
                <input type="text" name="data" value="600">
                <select id="size" name="size">
                  <option value="data">MB</option>
                  <option value="data">MB</option>
                  <option value="data">MB</option>
                </select>
                <select id="date" name="date">
                  <option value="date">June 6 - July 5</option>
                  <option value="date">June 6 - July 5</option>
                  <option value="date">June 6 - July 5</option>
                </select>
              </div>
              <div class="limit-img">
                <img src="assets/imgs/limit.jpg" alt="img" />
              </div>
              <div class="clr"></div>
            </div>
          </div>
          <div class="data-tr">
            <h3>Data Transfered</h3>
            <div class="data-tr-inner">
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/data-trans.png" alt="img" />500
                    <span>MB</span>
                  </h4>
                  <h5>June 6, 2018, 14:00</h5>
                </div>
                <div class="dat-rht">
                  <h4>Jason statham
                    <br> +46 123 123 123
                  </h4>
                  <h5>Expiring in
                    <span>5</span> days</h5>
                </div>
                <div class="clr"></div>
              </div>
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/data-trans.png" alt="img" />1.2
                    <span>GB</span>
                  </h4>
                  <h5>June 5, 2018, 17:30</h5>
                </div>
                <div class="dat-rht">
                  <h4>Daniel craig
                    <br> +46 123 123 123
                  </h4>
                  <h5>Expiring in
                    <span>3</span> days</h5>
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="clr"></div>
        </div>
        <div class="limit">
          <div class="limit-box">
            <h3>Data Added</h3>
            <div class="added-data">
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/pl-blue.png" alt="img" />500
                    <span>MB</span>
                  </h4>
                </div>
                <div class="dat-rht">
                  <h4>June 6, 2018, 14:00</h4>
                </div>
                <div class="clr"></div>
              </div>
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/pl-blue.png" alt="img" />1.2
                    <span>GB</span>
                  </h4>
                </div>
                <div class="dat-rht">
                  <h4>June 5, 2018, 17:30</h4>
                </div>
                <div class="clr"></div>
              </div>
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/pl-blue.png" alt="img" />2
                    <span>GB</span>
                  </h4>
                </div>
                <div class="dat-rht">
                  <h4>June 6, 2018, 14:00</h4>
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="data-tr">
            <h3>Data Share</h3>
            <div class="data-tr-inner">
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/share-icon.png" alt="img" />500
                    <span>MB</span>
                  </h4>
                  <h5>June 6, 2018, 14:00</h5>
                </div>
                <div class="dat-rht">
                  <h4>Jason statham
                    <br> +46 123 123 123
                  </h4>
                  <h5>Expiring in
                    <span>5</span> days</h5>
                </div>
                <div class="clr"></div>
              </div>
              <div class="transfer-dat">
                <div class="dat-lef">
                  <h4>
                    <img src="assets/imgs/share-icon.png" alt="img" />1.2
                    <span>GB</span>
                  </h4>
                  <h5>June 5, 2018, 17:30</h5>
                </div>
                <div class="dat-rht">
                  <h4>Daniel craig
                    <br> +46 123 123 123
                  </h4>
                  <h5>Expiring in
                    <span>3</span> days</h5>
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer_section">
  <div class="footer-wrapper">
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">My Plans</a>
        </li>
        <li>
          <a href="#">Add SIM</a>
        </li>
        <li>
          <a href="#">Credit Transfer</a>
        </li>
        <li>
          <a href="#">Share Account</a>
        </li>
        <li>
          <a href="#">Friends and Family</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu">
      <ul>
        <li>
          <a href="#">Recharge for Other</a>
        </li>
        <li>
          <a href="#">Billing History</a>
        </li>
        <li>
          <a href="#">Deals for you</a>
        </li>
        <li>
          <a href="#">Roaming</a>
        </li>
        <li>
          <a href="#">Find a Store</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu last-menu">
      <ul>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Call Center</a>
        </li>
        <li>
          <a href="#">Service Request Status</a>
        </li>
        <li>
          <a href="#">Chatbot / Chat</a>
        </li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="social-bar-content">
      <div class="social-bar">
        <a href="#">
          <img src="assets/imgs/fb-icon.png" alt="facbook" /> </a>
        <a href="#">
          <img src="assets/imgs/gmail-icon.png" alt="gmail" /> </a>
        <a href="#">
          <img src="assets/imgs/in-icon.png" alt="facbook" /> </a>
      </div>
      <div class="chat-option">
        <img src="assets/imgs/msg-icon.png" alt="chat-img" />
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-wrapper">
    <h5>©Ericsson AB 2018</h5>
    <ul>
      <li>
        <a href="#">Licence Agreement</a>
      </li>
      <li>
        <a href="#">Modern Slavery Statement</a>
      </li>
      <li>
        <a href="#">Cookies</a>
      </li>
      <li>
        <a href="#">Legal</a>
      </li>
    </ul>
    <div class="clr"></div>
  </div>
</div>