<div id="header">
  <div class="wrapper">
     <div class="logo">
        <a href="#">
        <img src="assets/imgs/logo_home.png" alt="logo" />
        </a>
     </div>
     <div class="call_us">
        <h5>Talk to Expert :
           <span>+46 123 123 123</span>
        </h5>
        <div class="notification_bar">
           <img src="assets/imgs/notification.png" alt="notification" />
           <img src="assets/imgs/icon-3.png" alt="download-icon" />
        </div>
        <div class="clr"></div>
     </div>
     <div class="clr"></div>
  </div>
</div>
<div class="all_detail">
  <div class="wrapper">
     <div class="box-1">
        <a routerLink="/home/profile">
        <img src="assets/imgs/icon-5.png" alt="Profile" />
        </a>
        <h4>
           <a routerLink="/home/profile">My Profile</a>
        </h4>
        <div class="down-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="box-1 show-box">
        <a routerLink="/home/plan">
        <img src="assets/imgs/icon-4.png" alt="My Plan" />
        </a>
        <h4>
           <a routerLink="/home/plan">My Plan</a>
        </h4>
        <div class="down-arrow show-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="box-1">
        <a routerLink="/home/utc">
        <img src="assets/imgs/icon-6.png" alt="Traffic" />
        </a>
        <h4>
           <a routerLink="/home/utc">Usage Traffic & Costs</a>
        </h4>
        <div class="down-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="box-1">
        <a routerLink="/home/dfy">
        <img src="assets/imgs/icon-7.png" alt="Deals" />
        </a>
        <h4>
           <a routerLink="/home/dfy">Deals for You</a>
        </h4>
        <div class="down-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="box-1">
        <a routerLink="/home/roaming">
        <img src="assets/imgs/icon-8.png" alt="Roaming" />
        </a>
        <h4>
           <a routerLink="/home/roaming">Roaming</a>
        </h4>
        <div class="down-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="box-1">
        <a routerLink="/home/wallet">
        <img src="assets/imgs/icon-9.png" alt="Wallet" />
        </a>
        <h4>
           <a routerLink="/home/wallet">Wallet & Payment</a>
        </h4>
        <div class="down-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="box-1">
        <a routerLink="/home/support">
        <img src="assets/imgs/icon-10.png" alt="Support" />
        </a>
        <h4>
           <a routerLink="/home/support">Support</a>
        </h4>
        <div class="down-arrow">
           <img src="assets/imgs/down-arrow-1.png" alt="" />
        </div>
     </div>
     <div class="clr"></div>
  </div>
</div>
<div class="container_section">
  <div class="container_wrapper">
     <div class="container_header">
        <div class="inner-wrapper">
           <div class="menu_bar">
              <ul>
                 <li>
                    <a href="#">Home</a> >
                 </li>
                 <li class="active">
                    <a href="#"> My plan </a>
                 </li>
              </ul>
           </div>
           <div class="login_person">
              <h2>Nilanjana Basu</h2>
              <h5>
                 <img src="assets/imgs/online-icon.png" alt="online" />+46 123 123 123
                 <img src="assets/imgs/down-arrow.png" alt="arrow" />
              </h5>
           </div>
           <div class="clr"></div>
        </div>
     </div>
     <div class="inner-wrapper">
        <div class="plan-detail">
           <div class="plan-detail-lft">
              <div class="plan-del-1">
                 <h3>Premium
                    <img src="assets/imgs/double-arrow.png" alt="img" />
                 </h3>
                 <h4>10.99 $
                    <span>mo</span>
                 </h4>
                 <h5>21
                    <span>Days Left</span>
                 </h5>
              </div>
              <div class="plan-del-2">
                 <ul>
                    <li>
                       <span>GB 50</span>
                    </li>
                    <li>
                       <span>Unlimited Minutes</span>
                    </li>
                    <li>
                       <span>Unlimited SMS</span>
                    </li>
                    <li>
                       <span>Roaming</span>
                    </li>
                 </ul>
              </div>
              <div class="plan-del-3">
                 <ul>
                    <li>
                       <span>Music</span>
                    </li>
                    <li>
                       <span>Video</span>
                    </li>
                 </ul>
              </div>
              <div class="clr"></div>
           </div>
           <div class="plan-detail-rht">
              <h3>Recharge for Other</h3>
              <div class="other-filed">
                 <label>MSISDN Number</label>
                 <input name="text" placeholder="+46 123 123 123" type="text">
                 <input name="text" placeholder="$ 00.00" type="text">
                 <button>Recharge</button>
              </div>
           </div>
           <div class="clr"></div>
        </div>
        <div class="add-ons-2">
           <div class="add-ons-inner">
              <h3>Add Ons</h3>
           </div>
           <div class="accordion-2">
              <ul>
                 <li>10GB Expiring in 30 Days</li>
                 <li>Roaming Data 10 GB Expiring in 30 Days</li>
                 <li>Data10 GB + 1000 mins Expiring in 30 Days</li>
              </ul>
           </div>
           <div class="accordion-3">
              <ul>
                 <li>10GB Expiring in 30 Days</li>
                 <li>50 GB Expiring in 60 Days</li>
                 <li>1000 mins +1000 SMS Expiring in 30 Days</li>
              </ul>
           </div>
           <div class="clr"></div>
        </div>
        <div class="add-ons-2">
           <div class="add-ons-inner">
              <h3>Manage SIM</h3>
           </div>
           <div class="sim-box-cover">
              <div class="add-sim">
                 <h4>Suspend SIM</h4>
                 <div class="sim-box">
                    <label>MSISDN Number</label>
                    <input name="text" placeholder="+46 123 123 123" type="text">
                    <button>Suspend</button>
                 </div>
              </div>
              <div class="add-sim-2">
                 <h4>Add Subscription</h4>
                 <div class="sim-box">
                    <div class="sm-lft">
                       <label>MSISDN Number</label>
                       <select id="Number" name="Number" placeholder="+46 123 123 123">
                          <option value="Number">+46 123 123 123</option>
                          <option value="Number">+46 123 123 123</option>
                          <option value="Number">+46 123 123 123</option>
                       </select>
                       <button>Add</button>
                    </div>
                    <div class="sm-rht">
                       <h5>Plans</h5>
                    </div>
                    <div class="clr"></div>
                 </div>
              </div>
              <div class="add-sim-3">
                 <h4>Suspend SIM</h4>
                 <div class="sim-box">
                    <label>MSISDN Number</label>
                    <input name="text" placeholder="+46 123 123 123" type="text">
                    <button>Suspend</button>
                 </div>
              </div>
              <div class="clr"></div>
           </div>
        </div>
        <div class="add-ons-2 ext-sp">
           <div class="add-ons-inner">
              <h3>Friends and Famliy</h3>
           </div>
           <div class="sim-box-cover">
              <div class="fm-an">
                 <input name="text" placeholder="Name" type="text">
                 <label>MSISDN Number</label>
                 <input name="text" placeholder="+46 123 123 123" type="text">
                 <button>Add </button>
              </div>
              <div class="fm-box">
                 <div class="close-fm">
                    <img src="assets/imgs/icon-red.png" alt="img" />
                 </div>
                 <h5>Akriti Sharma</h5>
                 <h6>+46 123 123 123</h6>
              </div>
              <div class="fm-box">
                 <div class="close-fm">
                    <img src="assets/imgs/icon-red.png" alt="img" />
                 </div>
                 <h5>Ashish Gupta</h5>
                 <h6>+46 123 123 123</h6>
              </div>
              <div class="fm-box">
                 <div class="close-fm">
                    <img src="assets/imgs/icon-red.png" alt="img" />
                 </div>
                 <h5>Nilanjana Basu</h5>
                 <h6>+46 123 123 123</h6>
              </div>
              <div class="clr"></div>
           </div>
        </div>
     </div>
     <div class="clr"></div>
  </div>
</div>
<div class="footer_section">
  <div class="footer-wrapper">
     <div class="footer-menu">
        <ul>
           <li>
              <a href="#">My Plans</a>
           </li>
           <li>
              <a href="#">Add SIM</a>
           </li>
           <li>
              <a href="#">Credit Transfer</a>
           </li>
           <li>
              <a href="#">Share Account</a>
           </li>
           <li>
              <a href="#">Friends and Family</a>
           </li>
        </ul>
     </div>
     <div class="footer-menu">
        <ul>
           <li>
              <a href="#">Recharge for Other</a>
           </li>
           <li>
              <a href="#">Billing History</a>
           </li>
           <li>
              <a href="#">Deals for you</a>
           </li>
           <li>
              <a href="#">Roaming</a>
           </li>
           <li>
              <a href="#">Find a Store</a>
           </li>
        </ul>
     </div>
     <div class="footer-menu last-menu">
        <ul>
           <li>
              <a href="#">FAQ</a>
           </li>
           <li>
              <a href="#">Call Center</a>
           </li>
           <li>
              <a href="#">Service Request Status</a>
           </li>
           <li>
              <a href="#">Chatbot / Chat</a>
           </li>
        </ul>
     </div>
     <div class="clr"></div>
     <div class="social-bar-content">
        <div class="social-bar">
           <a href="#">
           <img src="assets/imgs/fb-icon.png" alt="facbook" /> </a>
           <a href="#">
           <img src="assets/imgs/gmail-icon.png" alt="gmail" /> </a>
           <a href="#">
           <img src="assets/imgs/in-icon.png" alt="facbook" /> </a>
        </div>
        <div class="chat-option">
           <img src="assets/imgs/msg-icon.png" alt="chat-img" />
        </div>
        <div class="clr"></div>
     </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-wrapper">
     <h5>©Ericsson AB 2018</h5>
     <ul>
        <li>
           <a href="#">Licence Agreement</a>
        </li>
        <li>
           <a href="#">Modern Slavery Statement</a>
        </li>
        <li>
           <a href="#">Cookies</a>
        </li>
        <li>
           <a href="#">Legal</a>
        </li>
     </ul>
     <div class="clr"></div>
  </div>
</div>